{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<title>COMPANY TIME TRACKER</title>
</head>
<body>
    <div class="page-header">
        {% if user.is_authenticated %}
        <a href="{% url 'employee_list' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        {% else %}
        <a href="{% url 'django.contrib.auth.views.login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        <p class="top-menu">Hello {{ user.username }}<small>(<a href="{% url 'django.contrib.auth.views.logout' %}">Log out</a>)</small></p>
        {% endif %}
        <h1><a href="{% url 'tracker.views.employee_list' %}">Volta In</a></h1>
    </div>
{% block content %}
{% endblock %}
</body>
</html>