{% extends 'tracker/base.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="{% static 'css/homepage.css' %}">
	<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<title>COMPANY TIME TRACKER</title>
</head>
<body>

{% block content %}
	
		{% for c in company %}
			<div align="center" class="post">
				<h1>{{ c.company }}</h1>
			</div>
		{% endfor %}
	
		
	<h3 align="center">List of Employees Timed in</h3>

<table border="2" style="width:100%" align="center">
  <tr align="center" bgcolor="#DAB1C0">
    <td><a href="{% url 'tracker.views.employee_log' %}">Employee</a></td>
    <td><p>Timed in at</p></td> 
    <td><p>Timed out at<p></td>
  </tr>
  <tr>
  {% for l in log %}
    <td><a href = "{% url 'employee_detail' pk=l.pk %}"> {{ l.employee }} </a></td>
    <td><p align="center">{{ l.time_in }}</p></td> 
    <td><p align="center">{{ l.time_out }}</p></td>
  </tr>
  {% endfor %}
</table>
<br>
	<a href="{% url 'time_in' %}" class="top-menu"><button type="submit" class="save btn btn-default">Time in</button></a>
{% endblock %}
</body>
</html>